{
    "auth_domain": "$AUTH0_DOMAIN",
    "auth_username": "$AUTH0_TEST_USER",
    "auth_password": "$AUTH0_TEST_PWD",
    "auth_client_id": "$AUTH0_CLIENT_ID",
    "auth_client_secret": "$AUTH0_CLIENT_SECRET"
}