@import "colors";

.btn-large {
  font-size: 16px;
  height: 50px;
  padding: 0 30px;

  &.rounded {
    border-radius: 25px !important;
  }
}

.btn-yellow {
  color: #fff;
  fill: #fff;
  background-color: $primary;
  border-color: $primary;

  &:active {
    color: #fff;
    fill: #fff;
    background-color: $primary;
    border-color: $primary;
  }

  &:focus,
  &:hover {
    border-color: $primary-light;
    background-color: $primary-light;
    color: #fff;
  }

  &.is-disabled:hover,
  &.is-disabled:focus,
  &:disabled {
    background-color: $bg-disabled;
    border-color: $gray-light;
    color: $gray;
    fill: $gray;
  }
}

.btn-yellow-outline {
  background-color: #fff;
  color: $primary;
  fill: $primary;
  border: 1px solid $primary;

  &:active,
  &:focus,
  &:hover {
    color: $primary;
    border-color: $primary;
    background-color: #fff;
  }
}

button.text-btn {
  text-transform: uppercase;
  color: #555;
  font-weight: 600;
  text-decoration: none;
  background: none;
  border: none;
}

.dc-button {
  border: none;
  padding: 0;
  margin-right: 0.5em;
  font-family: inherit;
  font-size: 14px;
  color: inherit;
  background: #0000;

  &:disabled,
  &:disabled:hover {
    background: $bg-disabled !important;
    border: 1px solid $gray-light !important;
    color: $gray;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(191, 139, 7, 0.15);
    -webkit-transform: translate(0, -1px);
    -ms-transform: translate(0, -1px);
    transform: translate(0, -1px);
  }
  i:hover {
    text-decoration: none;
  }
  i {
    font-weight: 200;
  }
}

.primary,
.outline {
  min-width: 12em;
  border-radius: 100vw;
  padding: 0.75em 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-appearance: none;
}

.circle {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.circle.small {
  height: 1.5rem;
  width: 1.5rem;
}
.primary:hover {
  color: white;
}
.primary {
  color: $dark;
  background: $primary;
}

.outline,
.circle {
  background-color: white;
  color: $gray;
  border: 1px solid $gray-light;
}

.outline:hover,
.circle:hover {
  border-color: #fdb809;
  color: #fdb809;
}

.text {
  text-transform: uppercase;
  color: $gray;
}

.link {
  display: inline;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $primary;
  }
}
