$dark: #192024 !default;

$gray: #80848e !default;
$gray-dark: #53555f !default;
$gray-light: #bdc1c6 !default;

$primary: #fab800 !default;
$primary-light: #fad08d !default;

$green: #406668 !default;
$green-light: #e1f4eb !default;

$red: #e55f5e !default;
$red-light: #fef0f0 !default;

$orange: #de8f4e !default;
$orange-light: #f5dfce !default;

$bg-primary: #fef4e5 !default;
$bg-disabled: #efefef !default;
$bg-input: #fcfcfc !default;
