body {
  color: $black-color;
  font-size: $font-size-base;
  font-family: $sans-serif-family;
  // -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img {
  max-width: 100%;
  border-radius: $border-radius-small;
}

.main {
  position: relative;
  background: $white-color;
}
/* Animations */
.nav-pills .nav-link,
.navbar,
.nav-tabs .nav-link,
.sidebar .nav a,
.sidebar .nav a i,
.animation-transition-general,
.tag,
.tag [data-role="remove"],
.animation-transition-general {
  @include transition($general-transition-time, $transition-ease);
}

.centre-on-page {
  height: 100vh;
  width: 100vw;
  background-color: #f4f3ef;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .logo-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.right-align {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.centered-box {
  display: flex;
  align-items: center;
  background-color: #f4f3ef;
  justify-content: center;
  height: 100vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.fa-spin-reverse {
  -webkit-animation: fa-spin-reverse 2s infinite linear;
  animation: fa-spin-reverse 2s infinite linear;
}
@-webkit-keyframes fa-spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(-359deg);
  }
}
@keyframes fa-spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(-359deg);
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
