@import "colors.scss";
// overwrite element default CSS with DataCue theme values

i.el-collapse-item__arrow.el-icon-arrow-right.is-active {
  background-image: url("../../img/button-minus.svg");
  animation: 0.5s ease 0s normal forwards 1 fadein;
}

i.el-collapse-item__arrow.el-icon-arrow-right {
  background-image: url("../../img/button-plus.svg");
  display: block;
  width: 20px;
  height: 20px;
  transform: none;

  &::before {
    content: "";
  }
}

.el-collapse-item.is-disabled {
  color: $gray;
}

.el-dropdown-menu__item:focus,
.el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: $bg-primary;
  color: $primary;
}

.el-switch__label.is-active {
  color: inherit;
  font-weight: bold;
}

.el-switch.is-checked .el-switch__core {
  border-color: $primary;
  background-color: $primary;
}

@keyframes fadein {
  0% {
    color: #f8ba00;
  }

  66% {
    color: #aaa;
  }

  100% {
    opacity: #80848e;
  }
}

.el-alert {
  box-shadow: 2px 2px rgba(204, 197, 185, 0.5);
}

.el-input__inner::placeholder {
  color: $gray;
}

.el-input-number__decrease:hover,
.el-input-number__increase:hover {
  color: $dark;
  font-weight: bold;
}

.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),
.el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),
.el-input-number__decrease:active:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled),
.el-input-number__increase:active:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
  border-color: $primary;
}

.el-input-number__decrease:hover,
.el-input-number__increase:hover {
  color: $dark;
  font-weight: bold;
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: $primary;
}

.el-dialog {
  min-width: 300px;
}

.el-dialog__body {
  font-size: 16px;
  word-break: normal;
}

.el-tabs :deep {
  .el-tabs__item {

    &:hover,
    &.is-active {
      color: #333;
      font-weight: 700;
    }
  }
}

.el-checkbox :deep {
  color: $gray;
  margin-right: 15px;

  .el-checkbox__inner {
    border-color: $gray-light;

    &:hover {
      border-color: $gray-light;
    }
  }
}

.el-checkbox__input {
  .el-checkbox__inner:hover {
    border-color: $primary;
  }

  &.is-checked,
  &.is-indeterminate {
    .el-checkbox__inner {
      background-color: $primary;
      border-color: $primary;
    }

    +.el-checkbox__label {
      color: #e6a23c;
    }
  }

  &.is-focus {
    .el-checkbox__inner {
      border-color: $primary;
    }
  }
}

.el-checkbox__label {
  font-size: 16px;
}

.el-slider__bar {
  background-color: #e6a23c;
}

.el-slider__button {
  border: 2px solid #e6a23c;
}

.el-radio:focus:not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner,
.el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled) {
  box-shadow: 0 0 2px 2px $primary;
}

.el-radio__inner:hover {
  border-color: $primary;
}

.el-radio__input.is-checked .el-radio__inner,
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background-color: $primary;
  border-color: $primary;
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  box-shadow: -1px 0 0 0 $primary;
}

.el-radio-button__inner:hover,
.el-radio__input.is-checked+.el-radio__label {
  color: $primary;
}

.el-tabs__active-bar {
  background-color: #f8ba00;
}

.el-tabs__item.is-active {
  color: #333;
  font-weight: bold;
}

.el-tabs__item:hover {
  color: #333;
  font-weight: bold;
}

.el-tabs__item {
  color: #777;
  font-weight: bold;
}

.el-tabs :deep {
  .el-tabs__item {

    &:hover,
    &.is-active {
      color: #333;
      font-weight: 700;
    }
  }
}

.el-form :deep {
  :not(output):-moz-ui-invalid {
    box-shadow: none;
  }

  input:invalid {
    box-shadow: none;
  }

  .el-form-item.is-success,
  .el-form-item {
    margin-bottom: 15px;

    .el-input__inner {
      color: $dark;
      background: $bg-input;
      border-color: $gray-light;

      &:focus {
        border-color: $primary;
      }
    }
  }

  .el-form-item__label {
    font-size: 16px;
    padding-bottom: 0px !important;
    margin-bottom: 0px;
    color: $dark;
  }

  .el-input.is-disabled .el-input__inner {
    background: $bg-disabled;
    color: $gray;
    -webkit-text-fill-color: $gray;
    -webkit-opacity: 1;
    border-color: $gray-light;
  }
}

.el-select .el-input__inner:focus,
.el-select .el-input.is-focus .el-input__inner,
.el-textarea__inner:focus {
  border-color: $primary;
}

.el-select-dropdown__item.selected {
  color: $primary;
}

.el-picker-panel {
  max-width: calc(100vw - 1rem);

  @media (max-width: 600px) {
    width: auto;
    max-height: 75vh;
    overflow-y: auto;

    .el-picker-panel__body {
      display: flex;
      flex-flow: column nowrap;
      min-width: auto;
    }

    .el-date-range-picker__content {
      width: 280px;

      &.is-left {
        border-right: none;
      }
    }

    .el-date-table th {
      padding: 1px;
      text-align: center;
    }

    .el-date-table td,
    .el-date-table td div {
      max-height: 24px;
    }

    .el-date-table td {
      padding: 2px 0;
    }

    .el-date-table td div {
      padding: 0;
    }
  }
}

@media (max-width: 600px) {

  .el-date-editor--daterange.el-input,
  .el-date-editor--daterange.el-input__inner,
  .el-date-editor--timerange.el-input,
  .el-date-editor--timerange.el-input__inner {
    max-width: 100%;
  }
}