@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  p{
    @apply !my-0
  }
}
.swiper-button-disabled{
    opacity: 0;
}
.swiper-pagination-bullet-active{
    opacity: 1;
    background-color: #FAB800 !important;
    width: 50px;
    border-radius: 10px;
}
.swiper-pagination{
    margin-bottom: -10px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-in;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
